<div class="metadata">
    <div class="avatar">
        <img [src]="post.author.avatar">
    </div>
    <div class="author">
        <!--
        |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
        | Red Path                                                             |
        |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
        | Un clic sobre el autor debería enviar un evento al componente padre. |
        |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
        -->
        <span class="name blink-font" (click)="notifyClickOnAuthor()">{{ post.author.name }}</span>
        <!--
        |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
        | Blue Path                                                                     |
        |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
        | Una vez tengas creado el pipe FromNowPipe, úsalo con la fecha de publicación. |
        |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
        -->
        <span class="date">{{ post.publicationDate | datePipe }}</span>
    </div>
</div>
<div class="like">
    <span class="likeButton" (click)="notifyClickOnDislike()" *ngIf="iLike; else iDontLike"> 
        <img src="assets/images/Facebook_dislike_thumb.png">
        Ya no me gusta
     </span>
     <ng-template #iDontLike>
        <span class="likeButton" (click)="notifyClickOnLike()">
            <img src="assets/images/Facebook_like_thumb.png">
            Me gusta
        </span>
     </ng-template>
    <span class="counter">{{ post.likes.length }}</span>
</div>
<span class="editPost blink-font" *ngIf="editable" (click)="notifyClickOnEdit()">Editar</span>
<!--
|~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
| Green Path                                                          |
|~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
| Un clic sobre el post debería enviar un evento al componente padre. |
|~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
-->
<div class="post" (click)="notifyClickOnPost()">
    <h3>{{ post.title }}</h3>
    <img *ngIf="post.media" [src]="post.media" class="u-max-full-width">
    <div class="html-text" [innerHtml]="plainTextToHtml(post.intro)"></div>
</div>
