body {
    font-family: Anton, Helvetica, sans-serif;
    margin: 0;
    font-size: 20px;
    background-image: url(../assets/img/home.png);
    background-size: cover;
    background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

h1,
h3 {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h2 {
    color: #black;
    text-transform: uppercase;
}

section {
    padding-top: 85.6px;
    padding-bottom: 50px;
}
