#about-us video {
    width: 80%;
}

/* 
    0px   - 320px
    321px - 768px
    > 769px 
*/

@media all and (max-width: 960px) {
    #about-us {
        width: 100%;
        padding: 0;
    }
    #about-us .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #about-us .col-6 {
        width: 80%;
        text-align: center;
    }
}