.cookies {
    transition: transform 1s;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 100;
    background-color: black;
    color: white;
}

.cookies.ok {
    transform: translateY(50px);
}