#home {
    background-image: url(../assets/img/avengers.jpg);
    width: 100vw;
    color: white;
    height: calc(100vh - 72.8px);
    margin-top: 50px;
    background-size: cover;
    position: relative;
}

#home h1 {
    visibility: hidden;
}

#home:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
