$main-color: blue;
// $main-darker-color;
// $main-ligher-color:
// $secondary-color:
// $secondary-darker-color;
// $secondary-ligher-color:
// $info-color:
// $info-darker-color;
// $info-ligher-color:
// $alert-color:
// $alert-darker-color;
// $alert-ligher-color:
// $danger-color:
// $danger-darker-color;
// $danger-ligher-color:lighter($danger-color, 20%);;
$main-text-color: white;
$inverse-text-color: black;
$disabled-text-color: grey;
$secondary-text-color: green;
$info-text-color: lightblue;
$alert-text-color: yellow;
$danger-text-color: red;
$danger-darker: darken($danger-text-color, 20%);
$basic-length: 15px;
$transition-base-time: 0.3s;
$transition-faster-time: 0.1s;
$transition-longer-time: 0.5s;
$transition-longest-time: 1s;
$base-font: 15px;
$h1-size: calc($base-font * 2);
$h2-size: calc($base-font * 1.8);
$h3-size: calc($base-font * 1.5);
$h4-size: calc($base-font * 1.3);
$h5-size: $base-font;
$h6-size: calc($base-font * 0.9);
body {
    color: $main-text-color;
    font-size: $h5-size;
}

nav {
    border: 1px solid $inverse-text-color;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

.navbar {
    border: 1px solid #ddd;
    .navbar-items {
        color: $inverse-text-color;
        &.navbar-item-active {
            color: white;
            font-weight: bold;
        }
        &.navbar-item-disable {
            cursor: disabled;
        }
    }
}

.form {
    input {
        color: $main-text-color;
        &:disabled {
            color: transparentize($main-text-color, 0.5);
        }
        &:focus {
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        }
    }
}

@mixin clearfix {
    display: inline-block;
    &:after {
        content: '';
        display: block;
        * html & {
            height: 1px;
        }
    }
}

.menu {
    @include clearfix;
}

section.block {
    @include clearfix;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

.box {
    @include border-radius(10px);
}

@mixin ellipsis($width) {
    width: $width;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.panel-text {
    @include ellipsis(250px);
}

@mixin apply-to-ie-only {
    html.ie {
        @content;
    }
}

@include apply-to-ie-only {
    #logo {
        background-image: url(/logo.gif);
    }
}

@mixin buttons {
    .btn {
        border: 2px solid grey;
        border-radius: 5px;
        color: $main-text-color;
        @content;
    }
}

@include buttons {
    &.btn-secondary {
        color: $secondary-text-color;
        &:hover {
            transform: scale(1.1);
        }
    }
}

$desktop-width: 1024px;
$tablet-width: 760px;
@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@include tablet {
    main {
        width: $tablet-width;
        // ...
    }
}

@import "example"