#columns {
    display: flex;
    font-family: sans-serif;
}

.column {
    transition: all 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    border: 2px solid black;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    margin: 2px;
}

.column.over {
    border-style: dashed;
}
