.modal {
    margin: auto;
    .modal-dialog {
        width: 100%;
    }
    .modal-content {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        width: 100%;
        box-shadow: none;
    }
    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        margin-top: 10px;
        width: 35px;
        height: 35px;
        z-index: 2;
        background-color: white;
        opacity: 1;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 3px;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08), 0 1px 1px rgba(0, 0, 0, 0.0);
    }
    .panel {
        border: none;
        padding: 0;
        .panel-body {
            padding: 5px;
            img {
                object-fit: cover;
                width: 100%;
            }
        }
    }
    .panel-footer {
        background-color: white;
        border: none;
        padding-right: 5px;
        .images {
            padding-left: 5px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .detail {
                width: 40px;
                height: 40px;
                margin-top: 5px;
            }
        }
        .likes {
            color: #606A75;
            border: 1px solid rgba(195, 194, 196, 0.45);
            i {
                margin-right: 5px;
            }
        }
    }
    .panel-footer.container-fluid {
        padding: 0;
        .row {
            margin: 15px 0;
        }
    }
    .info {
        padding: 10px;
    }
    .more-products {
        background-color: transparent;
        border: none;
        box-shadow: none;
        h4 {
            display: inline-block;
            margin-right: 15px;
        }
        .black {
            color: rgba(0, 0, 0, 0.8);
            font-weight: bold;
        }
        .shadow {
            color: rgba(0, 0, 0, 0.5);
        }
    }
}