<!--<ejemplos-binding></ejemplos-binding>
<ejemplos-componentes></ejemplos-componentes>
<ejemplos-inyeccion></ejemplos-inyeccion>-->


<div class="container">

    <!-- Titulo -->
    <header>
        <h1>Mi agenda</h1>
    </header>

    <!-- Barra de navegación -->
    <nav>
        <ul>
            <li><a routerLink="/mis-contactos" routerLinkActive="seleccionado">Mis contactos</a></li>
            <li><a routerLink="/nuevo-contacto" routerLinkActive="seleccionado">Nuevo contacto</a></li>
        </ul>
    </nav>

    <!-- Zona dinámica de páginas de la aplicación -->
    <router-outlet></router-outlet>

</div>