.cookies {
    transition: transform $transition-slowest;
    background-color: $primary-color;
    color: $inverse-color;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 100;
    &.ok {
        transform: translateY(100px);
        /*transform: translate(0, 100px);*/
    }
}
