#home {
    background-image: url(../assets/img/avengers.jpg);
    width: 100vw;
    height: calc(100vh - 56px);
    margin-top: 56px;
    background-size: cover;
    background-position: 50% 50%;
    h1 {
        visibility: hidden;
    }
}
