.nav {
    background-color: black;
    font-size: 1.1em;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}

.nav .nav-item {
    list-style: none;
    display: inline-block;
}

.nav .nav-item > a {
    color: white;
    text-decoration: none;
    height: 100%;
    padding: 10px;
    line-height: 3em;
    display: inline-block;
    text-transform: uppercase;
}

.nav .nav-item.nav-item--active > a,
.nav .nav-item > a:hover {
    background-color: white;
    color: black;
}

.nav .nav-logo {
    display: inline-block;
    margin: 10px;
    position: relative;
    top: 10px;
    left: 15px;
}

.nav .nav-items {
    padding: 0;
    width: 80%;
    display: inline-block;
    text-align: right;
    margin: 0;
}

.nav .nav-logo img {
    height: 30px;
}
