nav {
    background-color: black;
    font-size: 1.1em;
    /*Las unidades em se multiplica por el tamaño de la fuente padre (en nuestro caso de body)*/
    color: white;
}

nav li {
    list-style: none;
    display: inline-block;
}

nav .nav-item {
    color: white;
    text-decoration: none;
    height: 100%;
    padding: 10px;
    /*margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;*/
}

nav .nav-item.active {
    background-color: white;
    color: black;
}


/*Selector de hijo inmediato, solo se aplica a los hijos directos, no a los nietos por ejemplo*/

nav > a {
    display: inline-block;
    /*Para poder aplicar margin y que se comporte como una caja*/
    margin: 10px;
}

nav > a + ul {
    display: inline-block;
    width: 80%;
    /*Por defecto deja un padding para que los puntitos puedan entrar*/
    padding: 0;
    text-align: right;
    margin: 0;
}

nav > a img {
    height: 30px;
}
